body
{
font-family: Arial;
margin: 0;
padding: 0;
background: #f4f4f4;
}

header
{
background: #333;
color: white;
padding: 15px;
}

nav a
{
color: white;
margin: 10px;
text-decoration: none;
}

.container
{
padding: 20px;
}

form
{
width: 300px;
background: white;
padding: 20px;
}

input
{
width: 100%;
margin: 10px 0;
padding: 10px;
}

button
{
padding: 10px;
background: green;
color: white;
border: none;
}

.service-container
{
display: flex;
flex-wrap: wrap;
}

.service-card
{
background: white;
padding: 15px;
margin: 10px;
width: 250px;
}

.btn
{
background: blue;
color: white;
padding: 8px;
text-decoration: none;
}

.message
{
color: green;
}